*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
/keystore/*.jks
/keystore/*.keystore
google-services.json
app/google-services.json
*.apk
*.aab
*.hprof
